[submodule "src/django-debug-toolbar"]
	path = src/django-debug-toolbar
	url = git://github.com/robhudson/django-debug-toolbar.git
[submodule "src/cache-panel"]
	path = src/cache-panel
	url = git://github.com/jbalogh/django-debug-cache-panel
[submodule "src/werkzeug"]
	path = src/werkzeug
	url = git://github.com/mitsuhiko/werkzeug.git
[submodule "src/jingo"]
	path = src/jingo
	url = https://github.com/jbalogh/jingo.git
[submodule "src/django-badger"]
	path = src/django-badger
	url = git://github.com/lmorchard/django-badger.git
[submodule "src/django-extensions"]
	path = src/django-extensions
	url = git://github.com/django-extensions/django-extensions.git
[submodule "src/django-browserid"]
	path = src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
